.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-position-y: -25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rotating-logos {
    height: 400px;
    width: 400px;
}
.App-logo {
  text-align: center;
  color: #fff;
  font-size: 5em;
  letter-spacing: 8px;
  background-image: url('./main.svg');
  /* Background image is centered vertically and horizontally at all times */
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  height: 410px;
  width: 400px;
  opacity: 0.4;
}

.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

.demo .large-header {
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

.main-header:hover {
    cursor: pointer;
}
.main-header:hover > * {
    filter: brightness(150%);
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
   text-transform: uppercase;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    display: block;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hub {
    display: flex
}
.hub .folder {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none;
   border-radius: 50%;
   height: 100px;
   width: 100px;
   background-color: gray;
   border: 1px solid white;
   opacity: .5;
   display: block;
   -moz-border-radius: 50%;
   color: white;
   line-height: 95px;
   text-align: center;
   font-size: 23px;
   padding: 10px;
   margin: 20px;
}

.hub .folder .folder-name {
    cursor: pointer;
}
